.left{
    float: left;
}
.leftk{
    float: left;
}
.right{
    float: right;
}
.rightk{
    float: right;
}

img#ploimg{
    width: 20%;
}

span.thbr::before{
    content: "\A\A\A";
    white-space: pre;
    font-size: 400%;
}



@media only screen and (max-width: 768px){
    .left, .right{
        float: none;
    }
    img#ploimg{
        width: 100%;
    }
    span.thbr::before{
        content: "";
        white-space: pre;
        display: none;
    }
    h2{
        font-size: 2em;
    }
    p{
        font-size: 50%;
    }
}

@media only screen and (max-width: 426px){
    div#plofile{
        font-size: 0.5em;
    }
    h2{
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 320px){
    p.prop{
        font-size: 0.3em;
    }
    h2{
        font-size: 1em;
    }
}

div#header{
    display: block;
    background-color: #415DFF;
    height: 40px;
    width: 100%;
    position: fixed;
}
div#header h1, div#header i{
    color: white;
    margin: 0px;
    padding: 0px;
    border: none 0px;
}
div#header i{
    display: inline-block;
}
div#header i::before{
    content: "\f0c9";
    font-size: 40px;
}
div#header a{
    display: inline-block;
    height: 40px;
}

div#panel i.close::before{
    content: "\f057";
    font-size: 30px;
}
div#panel{
    margin-top: 40px;
}

div.main{
    margin: 10px auto;
}


.tcolor{
    color: #415DFF;
}
div.link div{
    text-align: center;
    border: 1px solid rgb(45, 183, 233);
    background-color: rgb(246, 250, 253);
}
div.link a{
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}
div.link img{
    width: 1.5em;
}
div.link i{
    font-size: 1.5em;
}

div.link a:hover{
    filter: brightness(0.8);
}

footer{
    background-color: rgb(198, 198, 198);
    font-size: 2em;
}