.left{
    float: left;
}
div#header{
    display: block;
    background-color: #415DFF;
    height: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div#header h1{
    color: white;
}
div#header a{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}
